@media all and (min-width: 767px) {
    .category-products--list {
        padding-left: 30px;
        padding-right: 30px;
    }

    .category-products--list .category-products-controls {
        padding-left: 10px;
        padding-right: 10px;
    }

    .category-products--list .category-item {
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;
        -ms-align-items: center;
        align-items: center;
        width: 100%;
        margin-bottom: 24px;
    }

    .category-products--list .category-item:last-child {
        margin-bottom: 0;
    }

    .category-products--list .category-img-wrp {
        flex-shrink: 0;
        margin-right: 60px;
        border-left: none;
        border-bottom: 1px solid #ecedf1;
    }

    .category-products--list .category-txt-wrp {
        display: grid;
        grid-template-columns: 480px auto;
        grid-template-rows: 75px 100px;
        grid-auto-flow: column;
        grid-gap: 0 30px;
        padding-left: 0;
        padding-right: 0;
    }

    .category-products--list .ct-name {
        margin-top: 0;
        margin-bottom: 0;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-align-items: flex-end;
        align-items: flex-end;
        min-height: 0;
        padding-bottom: 15px;
    }

    .category-products--list  .ct-param {
        display: flex;
        -ms-align-items: center;
        align-items: center;
        margin: 0;
    }

    .category-products--list .ct-discript {
        margin-top: 0;
        margin-bottom: 0;
        min-height: 0;
    }

    .category-products--list .category-item-btns {
        width: 220px;
        flex-shrink: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .category-products--list .btn--list {
        background-image: url(../img/new_img/list-view-hover.png);
    }

    .category-products--list .ct-price {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-align-items: baseline;
        align-items: baseline;
        margin: 0;
    }

    .category-products--list .category-item-btns {
        margin-left: auto;
    }

}

@media (min-width: 767px) and (max-width: 1249px) {
    .category-products--list .category-img-wrp {
        margin-right: 20px;
    }
    .category-products--list .category-txt-wrp {
        grid-gap: 0 20px;
    }
    .category-products--list .ct-price {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

@media (min-width: 767px) and (max-width: 1199px) {
    .category-products--list .category-txt-wrp {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        justify-content: space-around;
        align-self: stretch;
    }
    .category-products--list .category-item {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        grid-gap: 15px 0;
        border-bottom: 1px solid #ecedf1;
    }
    .category-products--list .category-img-wrp {
        grid-row-start: ;
        grid-row-end: 1;
        margin-right: 30px;
        border-bottom: none;
    }
    .category-products--list .category-item-btns {
        grid-column-start: 2;
        grid-column-end: 3;
        margin-left: 0;
    }
    .category-products--list .category-products-inner {
        width: auto;
    }
}

@media all and (max-width: 1309px) {
    .category-products {
        padding-left: 0;
        padding-right: 0;
    }

     .category-products--grid .category-products-inner,
     .category-products--grid .pagination
      {
        width: 1016px;
        margin-left: auto;
        margin-right: auto;
    }
    .category_products_wrap {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .main-content {
        padding-left: 10px;
        padding-right: 10px;
    }

    .news-slider-wrp ul {
        position: static;
        width: auto;
    }

    .content > h1,
    .content > .breadcrums,
    .category-wrp {
        padding-left: 10px;
        padding-right: 10px;
    }

    .produkt-wrp .category-wrp {
        padding-left: 0px;
        padding-right: 0px;
    }
        .customers {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
    } 
    .customers .customers_ttl {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .customers-slider-wrp {
        width: 812px;
        margin-left: 28px;
    }
    .menu-open-block .red_menu_block {
        display: none;
    }
}

@media all and (max-width: 1249px) {
    .page-header {
        width: 100%;
        padding: 0 10px;
    }

    .header-phones-block-inner {
        justify-content: center;
    }

    .filter-section--diameter {
        margin-right: 40px;
    }

    .centr-block, header, .block1000,.video-wrp,
    .page-header,.red-menu-inner, .category-top,
    .produkt-wrp, .category-products  {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media all and (max-width: 1229px) {

    .header-menu-main {
        margin-right: 0;
    }

    .header-search {
        margin-right: 0;
    }

    .header-logo-block {
        margin-right: 15px;
    }

/*    .header-phones-block .left-block {
        margin-right: 0;
    }

    .header-phones-block .right-block {
        display: none;
    }*/

    .page-header {
        -ms-grid-columns: min-content min-content 1fr min-content;
        grid-template-columns: min-content min-content 1fr  min-content;
        width: 100%;
    }

}

@media all and (max-width: 1199px) {
    .header-phones-block {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        margin-right: 10px;
        margin-left: 10px;
    }
    .header-phones-block-inner {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    .header-phones-block .left-block {
        margin-right: 0;
    }
    .header-phones-block .right-block .phone,
    .header-phones-block .right-block .text {
        display: none;
    }    
    .header-phones-block .text{
        margin-bottom: 10px;
    }
    .header-phones-block .left-block .link {
        margin-bottom: 3px;
    }
    .category-main {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }
    .category-top {
        padding-left: 20px;
        padding-right: 20px;
    }
    .category-filter-form {
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 10px;
    }
    .category-filter-form form {
        display: block;
    }
    .filter-section--diameter {
        margin-right: 0;
    }
    .filter-values {
        width: 273px;
    }
    .filter-values .field-checkbox__wrap:nth-child(6n) {
        margin-right: 3px;
    }    
    .filter-values .field-checkbox__wrap:nth-child(4n) {
        margin-right: 0;
    }
    .filter-values .btn--show-all {
        position: static;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .category-products {
        flex-grow: 1;
    }
    .category-products--grid .category-products-inner,
    .category-products--grid .pagination {
        width: 762px;
    }
    .category-line .category-products--grid .category-products-inner {
        width: 1016px;
    }


    .filter-values .field-checkbox__wrap:nth-child(36) {
        display: block;
    }
    .category-filter-form {
        border: none;
    }
    .category-filter-form .submit_block {
        margin-top: 15px;
    }

    .aside-menu {
        width: 334px;
        flex-grow: 0;
    }
    .category-filter-title {
        height: auto;
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 1em;
    }
    .advertisment-link {
        display: block;
    }


    /*  Первый активный слайд */
    .main-slider .tns-slide-active .main-slider-item-inner {
        margin-right: 30px;
    }

    /*Средний слайд*/
    .main-slider .tns-slide-active + .tns-slide-active .main-slider-item-inner {
        margin-right: 0;
    }

    /*Последний активный слайд*/
    .main-slider .tns-slide-active + .tns-slide-active + .tns-slide-active .main-slider-item-inner {
        margin-left: 30px;
    }

    .main-slider-prev {
        left: 10px;
    }

    .main-slider-next {
        right: 10px;
    }
}

@media all and (max-width: 1139px) {
    .category-products--grid .category-products-inner,
    .category-products--grid .pagination
    {
        width: 508px;
    }
    .other_fillials {
        width: 150px;
    }
    .produkt-wrp-top {
        grid-template-columns: auto 1fr;
    }
    .produkt-slider-nav-wrp {
        width: 615px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-self: center;
    }
    .produkt-slider-nav-more {
        display: none;
    }
    .produkt-slider-nav {
        padding: 0 15px;
    }
    .produkt-slider-nav .slick-arrow {
        opacity: 1;
        width: 15px;
        height: 15px;
        top: 50%;
    }
    .produkt-slider-nav .slide.slick-slide {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
    }
    .produkt-slider-nav .slick-prev {
        left: 0;
        transform: translate(0, -50%) rotate(135deg);
        -webkit-transform: translate(0, -50%) rotate(135deg);
    }
    .produkt-slider-nav .slick-next {
        left: 100%;
        transform: translate(-100%, -50%) rotate(-45deg);
        -webkit-transform: translate(-100%, -50%) rotate(-45deg);
    }
    .produkt-downloads {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .produkt-slider-for.slick-slider {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .produkt-garanty {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .produkt-spec {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .produkt-price-wrp {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .produkt-controls {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .produkt-slider-nav-wrp {
        height: auto;
    }
    /*
    *Слайдер на главной
    */
    /*  Первый активный слайд */
    .main-slider .tns-slide-active .main-slider-item-inner {
        margin-right: 15px;
    }

    /*Средний активный слайд*/
    .main-slider .tns-slide-active + .tns-slide-active .main-slider-item-inner {
        margin-right: 0;
    }

    /*Последний активный слайд*/
    .main-slider .tns-slide-active + .tns-slide-active + .tns-slide-active .main-slider-item-inner {
        margin-left: 15px;
    }

}

@media all and (max-width: 1020px) {
    h1,
    .category-top h1,
    .content .recomend-head {
        font-size: 30px;
    }
    .category-filter-form {
        padding-left: 10px; 
        padding-right: 10px;
    }
    .category-top {
        padding-right: 0;
    }
    .category-products--grid .category-products-inner, 
    .category-products--grid .pagination {
        width: 475px;
    }
    .category-products--grid .category-item {
        width: 237px;
    }
    .category-products-controls {
        padding-left: 10px;
        padding-right: 10px;
    }
    .total-wrp,.video-wrp,body {
        min-width: 768px;
    }
    .video_brands {
        margin-left: 0;
    }
    .top-sliders .left_block {
        display: none;
    }
    .top-sliders .center_block {
        width: calc(100% - 235px);
    }
    .centr-block, header, .block1000,.video-wrp,
    .page-header,.red-menu-inner {
        width: 750px;
    }
    .red-menu-inner {
        padding-left: 0;
        padding-right: 0;
        flex-grow: 0;
    }

    .header-menu-block {
        grid-column-start: 1;
    }
    .header-logo-block {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
        align-self: start;
        margin-top: 0;
    }
    .logo {
        width: 237px;
        margin-top: 0;
    }
    .header-phones-block {
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .header-cart-block {
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .header-search-block {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .header-search {
        width: 100%;
    }

    .action-btn-list {
        margin-bottom: 10px;
    }
    .red_menu {
        padding-left: 41px;
        font-size: 0;
    }
    .menu-open-block {
        height: 460px;
    }
    .menu-open-block-inner {
        width: 750px;
        margin-left: auto;
        margin-right: auto;
    }

    .right_red_menu {
        width: 225px;
        padding-left: 10px;
        padding-right: 30px;
    }
    .right_red_menu:last-child {
        padding-right: 30px;
    }
    .right_red_menu:last-child::after {
        right: 25px;
    }
    .video-left {
        display: none;
    }
    .video-centr {
        margin: 0 250px 0 0;
    }
    footer .fut-logo {
        left: -20px;
        display: none;
    }
    footer .fut-contact {
        margin-left: 30px;
        width: 230px;
    }
    .main-content-text {
        padding-left: 0;
        padding-right: 0;
    }
    .main-content .main-content-left,
    .main-content .main-content-middle {
        margin-right: 30px;
    }

    .tabs .tab-content-item table {
        max-width: 100% !important;
        width: 500px !important;
    }
    .category-line .category-item:nth-child(3) {
        /*display: none;*/
    }
    .category-line .category-item {
        width: 255px;
    }
    .category-line .category-products--grid .category-products-inner {
        width: 800px;
    }
    .produkt-wrp-top {
        width: 100%;
    }
    .produkt-wrp .produkt-spec-head {
        display: table;
        /*padding-top: 30px;*/
    }
    .produkt-slider-for.slick-slider {
        width: 400px;
        height: 400px;
    }
    .produkt-slider-nav-wrp {
        width: 400px;
    }
    .produkt-wrp .produkt-spec-name {
        width: 200px;
        flex-shrink: 0;
    }
    .produkt-price-wrp {
        margin-bottom: 0;
    }
    .produkt-price {
        margin-bottom: 15px;
    }
    .produkt-controls {
        -ms-align-items: center;
        align-items: center;
        justify-content: flex-start;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .numer_block {
        margin-right: 15px;
    }
    .produkt-btns {
        margin-top: 15px;
    }
    .qwestion .qwestion-right {
        margin-left: 0;
    }
    .promo-block .promo-left {
        width: 590px;
    }
    .cols4 .item {
        display: block;
        float: left;
        width: 50%;
        box-sizing: border-box;
    }
    .cols4 .item:nth-of-type(3) {
        border-left: none;
    }
    .cat-item {
        max-width: 25%;
        width: 25%;
    }
    .cat-item img {
        max-width: 100% ;
    }
    .cat-item .cat-img-wrp {
        width: initial;
    }
    .callback_block {
        width: 750px;
    }
    .callback_block .contact-popup-company {
        width: calc(30% - 9px) !important;
        margin-right: 1px;
    }
    .map-block .kontakt-wrp {
        width: 750px;
        left: 0;
        margin-left: 0;
    }
    .map-block .kontakt-column {
        display: inline-block;
        vertical-align: top;
        width: 200px;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
    }
    input[type="text"].contact-popup-company {
        margin-bottom: 10px;
    }
    .map-block .kontakt-column-ico::before {
        display: none;
    }
    .block1050 {
        width: initial;
    }
    .red_menu_block.block210 {
        display: none;
    }
    .search-example {
        display: none;
    }
    .download-price {
    }
    .call-block {
        display: block;
    }
    .category-products {
        padding-left: 0;
        padding-right: 0;
    }
    .category-products-controls .filter-select-wrp {
        margin-right: 10px;
    }
    .category-products-controls .btn--view {
        margin-right: 5px;
    }
    .category-found {
        width: 80px;
    }
    .filter-select-wrp .filter-head {
        margin-right: 5px;
    }
    p.mih-head {
        font-size: 24px;
    }
    .recall-btn {
        margin-top: 15px;
    }
    .breadcrums {
        width: auto;
        white-space: normal;
        text-overflow: 
    }
    .about-right {
        margin-left: 10px;
    }    

    /*
    *Слайдер на главной
    */

    .main-slider.tns-slider .main-slider-item .main-slider-preview {
        display: none;
    }

    /*Средний слайд*/
    .main-slider.tns-slider .main-slider-item.tns-slide-active .main-slider-content {
        opacity: 1;
        max-height: 500px;
        width: 480px;
    }


    .main-slider.tns-slider .main-slider-item.tns-slide-active {
        justify-content: center;
    }

    .main-slider.tns-slider .main-slider-item.tns-slide-active .main-slider-item-inner {
        margin-right: 0;
    }

    /*Слайдер покупателей на главной*/
    .customers_slider .slide {
        margin-left: 0;
        margin-right: 0;
    }
    .customers_slider .slick-list {
        margin-left: 0;
        margin-right: 0;
    }
    .customers-slider-wrp {
        width: 100%;
    }
    /*
    *
    */
    

}

@media all and (max-width: 767px) {
    h1, h2, h3, h4, h5, h6 {
        word-wrap: break-word;
    }
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 24px;
    }
    .total-wrp, .video-wrp, body {
        min-width: 320px;

    }
    .top-sliders .left_block {
        display: block;
        float: initial;
        width: 100%;
        text-align: center;
    }
    .top-sliders .center_block {
        width: 100%;
    }
    .centr-block, header, .page-header, .content, .block1000, .video-wrp, .red-menu-inner,
    footer .centr-block, .category-top, .produkt-wrp {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
    .page-header {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    footer .centr-block {
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
    }
    footer .fut-contact {
        margin-left: 0;
        width: auto;
        margin-bottom: 15px;
    }
    .other_fillials {
        margin-bottom: 15px;
    }
    .fut-copy {
        margin-left: 0;
    }
    .logo {
        width: 240px;
    }
    .red-menu-inner {
        flex-grow: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .header-menu-block,.search-example,.download-price, .red-menu-block .right-block {
        display: none;
    }
    .header-logo-block {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .header-search-block {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .header-phones-block {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .header-cart-block {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
        margin-top: 15px;
    }
    .header-phones-block .right-block {
        display: none;
    }
    .header-phones-block .left-block {
        -ms-align-items: center;
        align-items: center;
    }
    .aside-menu {
        width: auto;
    }
    .action-btn-list {
        justify-content: center;
    }
    #ContactMail {
        margin: 0 auto;
        display: table;
        float: initial;
    }
    .video-centr {
        margin: 0 0px 0 0;
        display: block;
    }
    #video_frame {
        display: block;
        margin: 0 auto;
        height: 270px;
        width: 100%;
    }
    #video_frame video {
        width: 100%;
        height: 200px;
    }
    .video-right {
        display: none;
    }
    .top-sliders .top-sliders-bg {
        height: 350px;
    }
    .top-sliders {
        height: initial;
        -webkit-background-size: cover;
        background-size: cover;
        max-height: initial;
    }
    .main-content .main-content-left,.main-content .main-content-right {
        width: 100%;
    }
    .main-content .main-content-middle {
        margin: 0;
        display: table;
        padding-top: 30px;
    }
    .stock_block img {
        margin: 30px auto;
        display: table;
    }
    .stock_block .stock_price {
        text-align: center;
    }
    .main-content .main-content-left {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .main-content-text {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    #news-slider .news-slider-wrp li {
        /*width: 100%;*/
    }
    .customers_slider .slick-prev, .slider-nav .slick-prev,.customers_slider .slick-next, .slider-nav .slick-next {
        display: none !important;
    }
    .call-block p {
        margin: 0;
        margin-top: 60px;
    }
    .call-block {
        height: 200px;
    }
    .call-block {
        padding-top: 15px;
    }
    .fut-copy {
        margin-bottom: 30px;
    }
    .other_fillials {
        width: calc(100% - 30px);
    }
    .ui-dialog {
        overflow: scroll;
        display: block !important;
        /*background: black;*/
        max-height: 90% !important;
    }
    .red_menu_media {
        display: block;
    }
    .red_menu {
        display: none;
    }
    .media_menu_block .header-menu-block,.media_menu_block .header-search {
        display: block;
    }
    .header-menu-main {
        margin-top: 10px;
    }
    .header-menu-block li {
        margin: 10px 0;
        flex-basis: 45%;
        text-align: left !important;
    }
    .header-menu-block nav > ul > li > a:before {
        display: none !important;
    }
    .right_red_menu {
        width: 100%;
        background: #ff0000;
    }

    .header-search input[type="text"] {
        width: 250px;
    }

    .media_menu_block .right-block {
        /*padding-bottom: 30px;*/
        display: table;
    }
    .left-bar {
        width: 100%;
    }
    .category-right {
        margin: 0;
        display: block;
        width: 100%;
        margin-top: 20px;
    }
    .category-item {
        width: 100% !important;
    }

    .category-line .category-item {
        margin-bottom: 40px;
    }
    .category-line .category-item:last-child {
        margin-bottom: 0;
    }
    .category-item .category-img-wrp {
        border: none;
    }
    .left-menu {
        width: 100%;
    }
    .new_left_form, .filter-select-wrp, .new_left_form .jq-selectbox__select,.new_left_form  .style-select,.new_left_form .jq-selectbox {
        width: 100%;
        clear: both;
    }
    .new_left_form .jq-selectbox {
        width: calc(100% - 45px);
    }
    .media_left_menu_btn {
        display: block;
        width: 100%;
        line-height: 40px;
        text-align: center;
        font-weight: 900;
        font-size: 21px;
        border: 1px solid #ecedf1;
        cursor: pointer;
        clear: both;
        margin-top: 0px;
    }
    .media_left_menu_btn:hover {
        background: #ecedf1;
    }
    .produkt-wrp {
        width: 100%;
        margin-top: 20px;
    }
    .produkt-slider-for.slick-slider {
        width: 300px;
        height: 300px;
    }
    .produkt-slider-nav-wrp {
        width: 300px;
    }
    .print {
        margin-top: 15px;
    }
    .qwestion {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .qwestion-btn {
        margin-left: 0;
        margin-top: 15px;
    }
    .qwestion .qwestion-left {
        width: 100%;
    }
    .content .recomend-head {
        line-height: 40px;
    }
    .cols4 .item {
        width: 100%;
        border-left: none;
    }
    .about-right {
        width: 100%;
        border-left: none;
    }
    table.cert td {
        display: block;
        float: left;
        margin-bottom: 20px;
    }
    .cat-item {
        max-width: 100%;
        width: 100%;
        display: block;
        float: left;
        border:  none;
    }
    .content img {
        max-width: 100%;
    }
    #producer_slider .producer-slider-list > li .producer-item {
        display: block;
        width: 300px;
        padding: 0;
    }
    #podborPhoto {
        display: none;
    }
    .map-block .kontakt-wrp {
        width: 300px;
        position: relative;
        box-sizing: border-box;
    }
    .map-block .kontakt-bord-right {
        border-right: none;
    }
    .map-block .kontakt-column {
        width: 100%;
    }
    .map-block {
        height: initial;
    }
    .callback_block {
        width: 300px;
    }
    .callback_block .contact-popup-company {
        width: 88% !important;
        margin-bottom: 20px;
    }
    .category-item .ct-discript {
        height: initial;
    }
    .block1050 {
        width: initial;
        /*background: red;*/
        padding-top: 30px;
    }
    .for_img svg path, .for_img svg ellipse {
        fill: black;
    }
    .red_menu_block .link-block a {
        color: #000000;
    }
    .red_menu_block .link-block:hover a {
        color: #000000;
    }
    .video-wrp {
        padding: 0;
    }
    .right-block .phone, .right-block .text{
        display: none;
    }
    .red_menu_media {
        font-size: 24px;
        color: #ffffff;
        text-transform: uppercase;
    }
    .right-block #ContactMail,.video-left-bg {
        display: none;
    }
    .video-left, .video-right {
        display: block;
    }
    .video-left-txt {
        padding-top: 0;
        position: relative;
    }
    .video-centr, .video-left {
        padding: 0;
        height: initial;
        min-height: initial;
    }
    .top-sliders .right_block a .video-item-txt {
        display: none;
    }

    .top-sliders .right_block {
        height: 15px;
        width: auto;
        position: relative;
        margin: 0 auto;
        display: table;
        float: initial;
        padding-top: 10px;
    }
    .video-left-txt, .video-left-txt > div {
        display: block;
        height: initial;
        max-width: initial;

    }
    .video-left-txt {
        padding-bottom: 20px;

    }
    .slide_top, .slide_bott {
        display: none;
    }
    .top-sliders .right_block a {
        height: 15px;
        width: 15px;
        float: left;
        display: block !important;
    }
    .top-sliders .top-slider-content {
        padding: 20px 0;
    }
    .top-sliders .right_block a .video-item-play-ico {
        background: white;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        display: inline-block;
        margin-top: 2px;
        margin-left: 3px;
        float: left;
    }

    .top-sliders .right_block a.active .video-item-play-ico {
        background: red;
    }
    .video-left-txt .video-left-name {
        padding-left: 15px;
    }
    .doble-column-wrp .column {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
    .link_reviews, .link_sale {
        padding-left: 0;
    }
    .category-top {
        padding-left: 0;
    }
    .category-top * {
        word-wrap: break-word;
    }
    .ot.produkt-right {
        width: 100px;
        margin-top: -35px;
        float: left;
        padding-top: 0;
    }
    .produkt-wrp-top {
        width: 300px;
        display: block;
    }
    .produkt-wrp .produkt-spec-name {
        width: 155px;
        margin-right: 10px;
    }
    .tabs .tabs-top .tab-triger {
        display: inline-flex;
        padding: 0 13px;
    }
    .tabs .tab-content-item table {
        width: 300px !important;
    }
    .checkout-btn {
        height: 50px;
        line-height: 50px;
        padding: 0 10px;
    }
    .content #producer_slider .caroufredsel_wrapper,.content #producer_slider #video_list_slider ul, #producer_slider .producer-slider-list, #producer_slider .producer-slider-list > li {
        height: initial !important;
        display: table !important;
        position: relative !important;
        width: 300px !important;
        margin: 0 !important;
    }
    #producer_slider .producer-slider-list > li .producer-item {
        border: none;
    }
    .promo-block .promo-left {
        width: 100%;
    }
    .promo-right {
        display: table;
        width: 100%;
    }
    .promo-right .promo-right-second {
        padding-top: 30px;
    }
    .download-btn {
        overflow: hidden;
    }
    .producer-item {
        border: none;
    }
    .cite-block.clearfix h3{
        word-wrap: initial;
    }
    .cite-block.clearfix img{
        float: left !important;
    }
    .category-main {
        display: block;
    }
    .category-filter-form {
        padding-left: 0;
        padding-right: 0;
    }
    .category-filter-form form {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    .category-filter-form .submit_block {
        margin-left: 0;
    }
    .category-menu {
        width: 300px;
    }
    .filter-section:nth-child(n), 
    .category-filter-form .category-type,
    .category-filter-form .submit_block {
        width: 273px;
        margin-left: 0;
        margin-right: 0;
    } 
    .filter-select-wrp .filter-head {
        float: none;
    }
    .filter-section--diameter {
        margin-right: auto;
    }
    .category-products-controls {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
    }
    .category_products_wrap {
        padding-left: 0;
        padding-right: 0;
    }
    .category-line .category_products_wrap {
        margin-left: 0;
        margin-right: 0;
    }
    .category-products-controls .filter-select-wrp {
        order: 3;
        margin-top: 15px;
        margin-right: 0;
    }
    .cite-block {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    .cite-block-title {
        order: -1;
    }
    .cite-block img {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }
    .call-block a {
        margin-left: 0;
        margin-top: 15px;
    }
    .call-block p {
        margin-top: 30px;
    }
    .category-found {
        width: auto;
    }
    .advertisment-link {
        padding-left: 0;
    }
    .category-products-btns {
        display: none;
    }
    .produkt-garanty span {
        display: block;
    }
    .tabs {
        margin-bottom: 30px;
    }
    .tabs-content {
        padding-top: 15px;
        border-top: none;
    }
    .tab-triger {
        border: 1px solid transparent;
    }
    .tab-triger.active {
        border-bottom-color: #ecedf1;
    }
    .go-back-wrp {
        margin-bottom: 30px;
    }
    .category-products--grid .pagination {
        width: auto;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .certificate {
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
}


@media all and (max-width: 480px) {

    .main-slider {
        min-height: 0;
        padding-bottom: 65px;
    }

    .main-slider.tns-slider .main-slider-item.tns-slide-active {
        -ms-align-items: flex-start;
        align-items: flex-start;
    }

    .main-slider-item-inner  {
        margin-top: 20px;
    }

    .main-slider-content {
    }

    .main-slider.tns-slider .main-slider-item.tns-slide-active .main-slider-item-inner {
        width: 100%;
    }

    .main-slider.tns-slider .main-slider-item.tns-slide-active .main-slider-content {
        width: 100%;   
    }

    .main-slider-arrows {
        bottom: 55px;
        top:auto;
    }

    .main-slider-prev {
        left: 50%;
        transform: translateX(-150%);
    }

    .main-slider-next {
        right: 50%;
        transform: translateX(150%) rotate(180deg);
    }
    .producer-block .slick-prev {
        left: 20px;
    }
    .producer-block .slick-next {
        right: 0;
    }
    .tippy-box[data-theme~="list"] .tippy-content {
        padding-left: 10px;
        padding-right: 10px;
        width: 320px;
        box-sizing: border-box;
    }
    .modal-list__item {
        width: auto;
    }
    .modal-list__info {
        position: relative;
        display: block;
        padding-right: 20px;
    }
    .modal-list__img {
        margin-right: 10px;
    }
    .modal-list__close {
        position: absolute;
        right: 0;
        top: 0;
    }
    .modal-list__btns {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}