.red-menu-block {
	background-color: transparent;
}

.red-menu-block span,
.red-menu-block p {
	color: red;
}



.right_red_menu::after {
	outline: 1px solid blue;
}

.right_red_menu img {
	outline: 1px solid blue;
}

.download-price::after {
	outline: 1px solid red;
}

*::after {
	outline: 1px solid blue;
}

*::before {
	outline: 1px solid green;
}

.category-img-wrp {
	outline: 1px solid red;
}

.category-img-wrp img {
	opacity: 0;
}

.category-txt-wrp > * {
	outline: 1px solid blue;
}